.root{
    -fx-background-color: #FC1C97;
}

.label {
    -fx-text-fill: #FC1C97;
}

.combo-box .arrow {
    -fx-background-color: #330136;
}

.combo-box {
    -fx-background-color: #FC1C97;
    -fx-text-fill: #330136;
}

.combo-box-popup .list-view {
    -fx-background-color: #FC1C97;
}

.text-field {
    -fx-background-color: #F27CBE , #FC1C97 , #FC1C97;
    -fx-background-image:url("herz-pink.png");
    -fx-background-size: 30px;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill: #330136;
    -fx-accent: #330136;
}

.text-field:focused {
    -fx-background-color: #F27CBE , #FC1C97 , #FC1C97;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill: #330136;
}

.table-view{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: #330136;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #FC1C97;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #FC1C97;
    -fx-font-weight: 900;
}

.table-view .column-header {
    -fx-background-color: #330136;
}

.table-view .table-cell{
    -fx-text-fill: #330136;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FC1C97;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #F27CBE;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: snow;
    -fx-text-fill: #FC1C97;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
.scroll-bar:horizontal {
    -fx-opacity: 0;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #FC1C97;
    -fx-background-color: #330136;
}

.combo-box
{
    -fx-background-image:url("herz-pink.png");
    -fx-background-size: 30px;
    -fx-text-fill: #330136;
}

.combo-box .list-cell {
    -fx-text-fill: #330136;
}

.combo-box-popup .list-view
{
    -fx-background-color: #FC1C97;
    -fx-background-insets: 0, 1;
}

.combo-box-popup .list-view .list-cell
{
    -fx-background-color: #FC1C97;
    -fx-text-fill: #330136;
    -fx-font-family: Oxygen Light;
}